@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-variant-numeric: lining-nums;
}

body {
  min-width: 1280px;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  background-image: url("../public/a583a5e1af39a4dce995d74a93258dcd98c4d182.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;

  min-height: 100vh;

  box-sizing: border-box;
  opacity: 1;
  padding: 32px 80px;
  gap: 32px;
  margin: 0;
}

.weather-app {
  width: 1120px;
  height: 860px;
  border-radius: 8px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background: #7070701a;
  backdrop-filter: blur(50px);
}

.weather-app__header {
  width: 1120px;
  height: 112px;
  gap: 358px;
  padding: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
}

.weather-app__today {
  width: 1120px;
  height: 472px;
  padding: 32px;
  gap: 16px;
  display: flex;
}

.logo__img {
  width: 192px;
  height: 48px;
  border-radius: 8px;
}

.search__input {
  width: 506px;
  height: 48px;
  padding: 12px 16px;
  border-radius: 8px;
  background: rgba(245, 244, 244, 0.4);
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.search__input:placeholder-shown:hover {
  background: rgba(218, 218, 218, 1);
  cursor: pointer;
}

.search__input:not(:placeholder-shown) {
  background: rgba(245, 244, 244, 0.4);
  cursor: text;
}

.search__input:not(:placeholder-shown):hover,
.search__input:focus {
  background: rgba(218, 218, 218, 1);
}

.search__button {
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search__icon_type_close {
  display: none;
}
.search__icon_type_search {
  display: inline-block;
}

.search__input:focus ~ .search__button .search__icon_type_search {
  display: none;
}
.search__input:focus ~ .search__button .search__icon_type_close {
  display: inline-block;
}

.weather-info {
  width: 534px;
  height: 408px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  padding: 8px;
}

.weather-info__location {
  display: flex;
  flex-wrap: wrap;
  width: 518px;
  height: 96px;
  gap: 8px;
  opacity: 1;
}

.weather-info__temp {
  width: 518px;
  height: 112px;
  gap: 8px;
  opacity: 1;
}

.weather-info__meta {
  display: flex;
  flex-wrap: wrap;
  width: 518px;
  height: 56px;
  gap: 8px;
  opacity: 1;
}

.weather-info__city {
  width: 518px;
  height: 32px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #f5f4f4;
}

.weather-info__date,
.weather-info__time,
.weather-info__feel,
.weather-info__cloudiness {
  width: 518px;
  height: 24px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #f5f4f4;
}

.weather-info__cloudiness {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.weather-info__temp {
  width: 518px;
  height: 112px;
  gap: 8px;
}

.weather-info__degrees {
  width: 518px;
  height: 112px;
  font-weight: 700;
  font-size: 112px;
  line-height: 112px;
  text-align: center;
  color: #f5f4f4;
}

.weather-info__meta {
  width: 518px;
  height: 56px;
  gap: 8px;
  color: #f5f4f4;
}

.weather-info__icon {
  width: 24px;
  height: 24px;
}

.weather-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.weather-details__card {
  width: 158px;
  height: 196px;
  padding: 16px;
  gap: 16px;
  border-radius: 8px;
  background: rgba(245, 244, 244, 0.4);
}
