.forecast {
  display: flex;
  flex-wrap: wrap;
  width: 1120px;
  height: 192px;
  padding: 32px;
  gap: 32px;
}

.forecast__header {
  width: 1056px;
  height: 32px;
  gap: 32px;
  display: flex;
  align-items: baseline;
}

.forecast__title {
  width: 105px;
  height: 32px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #f5f4f4;
}

.forecast__tabs-list {
  display: flex;
  gap: 32px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.forecast__tab {
  background: none;
  border: none;
  padding: 0;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  color: #a6a6a6;
  cursor: pointer;
  height: 24px;
  gap: 4px;
}

.forecast__tab:not(.forecast__tab_active):hover {
  border-bottom: 2px solid #a6a6a6;
}

.forecast__tab_active {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #f5f4f4;
  border-bottom: 2px solid #f5f4f4;
}

.forecast__slider {
  display: flex;
  align-items: center;
  gap: 32px;
  width: 1056px;
  height: 64px;
}

.forecast__arrow {
  border: none;
  width: 56px;
  height: 48px;
  border-radius: 8px;
  background: rgba(245, 244, 244, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 10px;

  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
}

.forecast__arrow_type_prev::before {
  content: '';
  width: 24px;
  height: 24px;
  background-color: rgba(84, 84, 84, 1);
  -webkit-mask: url('../public/icons/control/vector.svg') center / contain no-repeat;
  mask: url('../public/icons/control/vector.svg') center / contain no-repeat;
}

.forecast__arrow[disabled] {
  background-color: rgba(245, 244, 244, 0.4);
  opacity: 0.5;
  cursor: default;
}

.forecast__arrow:not([disabled]):hover {
  background-color: rgba(218, 218, 218, 1);
}

.forecast__arrow_type_next::before {
  content: '';
  width: 24px;
  height: 24px;
  background-color: rgba(84, 84, 84, 1);
  -webkit-mask: url('../public/icons/control/vector.svg') center / contain no-repeat;
  mask: url('../public/icons/control/vector.svg') center / contain no-repeat;
  transform: rotate(-180deg);
}

.forecast__list {
  display: flex;
  gap: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(to right, black 95%, transparent 100%);
  mask-image: linear-gradient(to right, black 95%, transparent 100%);
}

.forecast__item {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(245, 244, 244, 0.4);
  height: 64px;
  border-radius: 8px;
  gap: 16px;
  padding: 16px;
  color: #202020;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  white-space: nowrap;
}

.forecast__icon {
  width: 32px;
  height: 32px;
}
