.weather-app__header {
  width: 100%;
  height: 64px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
  gap: 16px;
}

.logo__img {
  width: 32px;
  height: 32px;
  border-radius: 8px;
}

.search {
  width: 100%;
  max-width: 409px;
  height: 32px;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 12px;
  border-radius: 8px;
  background: rgba(245, 244, 244, 0.4);
  box-sizing: border-box;
  transition: background-color 0.2s;
}

.search:hover,
.search:focus-within {
  background: rgba(218, 218, 218, 1);
}

.search__input {
  flex-grow: 1;
  min-width: 0;
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.search__button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
}

.search__icon_type_close {
  width: 16px;
  height: 16px;
  background-color: #545454;
  -webkit-mask: url('../public/icons/input/close.svg') center / contain no-repeat;
  mask: url('../public/icons/input/close.svg') center / contain no-repeat;
  transition: background-color 0.2s;
}

.search__button:hover .search__icon_type_close {
  background-color: #202020;
}

.search__icon_type_search {
  display: block;
  width: 16px;
  height: 16px;
  pointer-events: none;
}

.search:has(.search__input:not(:placeholder-shown)) .search__icon_type_search,
.search:has(.search__input:focus) .search__icon_type_search {
  display: none;
}

.search:has(.search__input:not(:placeholder-shown)) .search__button,
.search:has(.search__input:focus) .search__button {
  display: flex;
}

@media (min-width: 640px) {
  .weather-app__header {
    max-width: 608px;
    gap: 135px;
  }

  .search {
    max-width: 409px;
  }
}

@media (min-width: 768px) {
  .weather-app__header {
    max-width: 720px;
    height: 96px;
    padding: 24px;
    gap: 135px;
  }

  .logo__img {
    width: 54px;
    height: 48px;
  }

  .search {
    max-width: 483px;
    height: 48px;
    gap: 16px;
    padding: 12px 16px;
  }

  .search__input {
    font-size: 20px;
    line-height: 24px;
  }

  .search__button {
    width: 24px;
    height: 24px;
  }

  .search__icon_type_close,
  .search__icon_type_search {
    width: 24px;
    height: 24px;
  }
}

@media (min-width: 886px) {
  .weather-app__header {
    max-width: 838px;
  }
  .search {
    max-width: 601px;
  }
}

@media (min-width: 1024px) {
  .weather-app__header {
    max-width: none;
    width: 960px;
    height: 112px;
    padding: 32px;
  }
  .logo__img {
    width: 192px;
    height: 48px;
  }
  .search {
    max-width: none;
    width: 506px;
  }
}

@media (min-width: 1280px) {
  .weather-app__header {
    max-width: none;
    width: 1120px;
    height: 112px;
    padding: 32px;
  }

  .logo__img {
    width: 192px;
    height: 48px;
  }

  .search {
    width: 506px;
    max-width: none;
    height: 48px;
    padding: 12px 16px;
    gap: 16px;
  }

  .search__input {
    font-size: 20px;
    line-height: 24px;
  }

  .search__button {
    width: 24px;
    height: 24px;
  }

  .search__icon_type_close {
    width: 24px;
    height: 24px;
  }

  .search__icon_type_search {
    width: 24px;
    height: 24px;
  }
}
