.weather-app {
  width: 1120px;
  min-height: 860px;
  border-radius: 8px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background: #7070701a;
  backdrop-filter: blur(50px);
}

.weather-app__today {
  width: 1120px;
  min-height: 472px;
  padding: 32px;
  gap: 16px;
  display: flex;
}
